* {
  box-sizing: border-box;
}
html,body{
  margin:0;
  padding:0;
  }

.container-left {
    height:100vh;
    width:50vw;
    background-color: #1460FB;
    display: inline-block;
    position: fixed;
}

.header {
  height:89px;
  width:auto;
}

.header img {
  padding-top: 30px;
}

.header img:hover {
  padding-top: 30px;
  opacity: .8;
}

.info-main {
  height:auto;
  width:auto;
}

.footer {
  height: 100vh;
}

.profile-photo {
  box-shadow: 0 8px 8px 0 #0A4FDC;
  width:200px;
  height:200px;
  border-radius: 100%;
  margin:0 auto;
}

.profile-photo img{
  border:none;
  width:200px;
  height:200px;
  border-radius: 100%;
  margin:0 auto;
}

.howdie {
  color:white;
  font-size:14px;
  padding-top: 50px;
  font-family: helvetica;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 100;
  opacity:.5;
}

.im-cam {
  color:white;
  font-size: 40px;
  margin: 0px auto;
  text-align: center;
  font-family: helvetica;
  display: block;
  line-height: 70px;
  letter-spacing: 2px;
}

.im-cam a{
  color:white;
  font-family: "helvetica";


}

.mid-left {
  width:50vw;
  padding-top: 50px;

}

.coffee {
  border: 2px solid white;
  color:white;
  text-decoration:none;
  width:270px;
  height:55px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  font-family: helvetica;
  font-size: 14px;
  border-radius: 5px;
}

.coffee:hover {
  border: 2px solid white;
  color:white;
  text-decoration:none;
  width:270px;
  height:55px;
  margin: 0 auto;
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
  border-radius: 5px;
  background-color:white;
}

.coffee a {
  color:white;
  text-decoration: none;
  float: left;
  padding-top: 15px;
  padding-left: 20px;
}

.coffee::after{
  content:"\2192";
  float:right;
  padding-top: 12px;
  padding-right: 30px;
}

.coffee a:hover {
  color:#1460FB;
  text-decoration: none;
  float: left;
  padding-top: 15px;
  padding-left: 20px;
}

.victoria-social {
  float:left;
  font-size: 12px;
  padding-top: 20px;
  font-family: helvetica;
  letter-spacing: 1px;
  opacity: .5;
}

.footer img{
  float:left;
  padding-left: 10px;
  padding-top: 12px;
}

.victoria-social a{
  color:white;
  text-decoration: none;
}

.victoria-social:hover{
  color:white;
  text-decoration: none;
}

.social-icons img{
  float: right;
  padding-top: 14px;
  padding-right: 15px;
  opacity: .5;
}

.social-icons img:hover{
  float: right;
  padding-top: 14px;
  padding-right: 15px;
}


.container-right {
  height:100vh;
  width:50vw;
  overflow:scroll;
  display:inline-block;
  float: right;

}

.about-me {
  display: inline-block;
  height: 100vh;
  width: 50vw;
  padding-top: 50px;

}

.main-tag {
  display:inline-block;
  padding-left:40px;
  color:#1460FB;
  float: left;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  letter-spacing:1.5px;
}

.para{
  display: inline-block;
  width: 75%;
  max-width: 500px;
  font-size: 18px;
  font-weight: 200;
  font-family: helvetica;
  letter-spacing: .5px;
  line-height: 140%;
  padding-left: 20px;
}

ul{
  display:inline-block;
  height:auto;
  margin: 0;
}

.bullets {
  padding: 20px 0 0 100px;
  font-weight: bolder;
}

.bullets li{
  padding-bottom: 20px;
  font-family: helvetica;
  list-style: none;
}

.bullets li::before{
  content: ">";
  color: #1460FB;
  padding-right: 15px;
}

.project-main{
  display: inline-block;
  float: right;
}

h2{
  margin: 0;
}

.project-title a{
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: helvetica;
  font-size: 22px;

}

.project-description {
  display: inline-block;
  width: 75%;
  max-width: 500px;
  font-size: 18px;
  font-weight: 200;
  font-family: helvetica;
  letter-spacing: .5px;
  line-height: 140%;
  float:left;
}

.project-description1 {
  display: block;
  width: 75%;
  max-width: 500px;
  font-size: 18px;
  font-weight: 200;
  font-family: helvetica;
  letter-spacing: .5px;
  line-height: 140%;
  float:left;
}


.clients{
  float:right;
  padding-top: 20px;
}

.list{
  display: inline-block;
  float:left;
  width: auto;
}

.exp-name{
  font-weight: bold;
  font-size: 18px;
  font-family: helvetica;
  padding-left: 10px;
  display: inline-block;
}

.description{
  border: 2px dotted red;
  font-size: 18px;
  font-family: helvetica;
  display:block;
  padding-left: 10px;

}

.year{
  font-weight: bold;
  font-size: 18px;
  font-family: helvetica;
  float: right;
  border: 2px solid red;
  padding-left: 350px;

}
