* {
  box-sizing: border-box;
}
html,body{
  margin:0;
  padding:0;
  }
  /*@media (max-width: 650px) {
    .facet_sidebar {
      display: none;
    }*/
.container-left {
    height:100vh;
    width:50%;
    background-color: #1460FB;
    display: inline-block;
    position: fixed;
}

.header {
  height:89px;
  width:auto;
}

.header img {
  padding-top: 30px;
}

.header img:hover {
  padding-top: 30px;
  opacity: .8;
}

.info-main {
  height:auto;
  width:auto;
}

.footer {
  height: 100vh;
}

.profile-photo {
  box-shadow: 0 8px 8px 0 #0A4FDC;
  width:200px;
  height:200px;
  border-radius: 100%;
  margin:0 auto;
}

.profile-photo img{
  border:none;
  width:200px;
  height:200px;
  border-radius: 100%;
  margin:0 auto;
}

.howdie {
  color:white;
  font-size:14px;
  padding-top: 50px;
  font-family: helvetica;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 100;
  opacity:.5;
}

.im-cam {
  color:white;
  font-size: 40px;
  margin: 0px auto;
  text-align: center;
  font-family: helvetica;
  display: block;
  line-height: 70px;
  letter-spacing: 2px;
}

.im-cam a{
  color:white;
  font-family: "helvetica";


}

.mid-left {
  width:50vw;
  padding-top: 50px;

}

.coffee {
  border: 2px solid white;
  color:white;
  text-decoration:none;
  width:270px;
  height:55px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  font-family: helvetica;
  font-size: 14px;
  border-radius: 5px;
}

.coffee:hover {
  border: 2px solid white;
  color:white;
  text-decoration:none;
  width:270px;
  height:55px;
  margin: 0 auto;
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
  border-radius: 5px;
  background-color:white;
}

.coffee a {
  color:white;
  text-decoration: none;
  float: left;
  padding-top: 15px;
  padding-left: 20px;
}

.coffee::after{
  content:"\2192";
  float:right;
  padding-top: 12px;
  padding-right: 30px;
}

.coffee a:hover {
  color:#1460FB;
  text-decoration: none;
  float: left;
  padding-top: 15px;
  padding-left: 20px;
}

.victoria-social {
  float:left;
  font-size: 12px;
  padding-top: 20px;
  font-family: helvetica;
  letter-spacing: 1px;
  opacity: .5;
}

.footer img{
  float:left;
  padding-left: 10px;
  padding-top: 12px;
}

.victoria-social a{
  color:white;
  text-decoration: none;
}

.victoria-social:hover{
  color:white;
  text-decoration: none;
}

.social-icons img{
  float: right;
  padding-top: 14px;
  padding-right: 15px;
  opacity: .5;
}

.social-icons img:hover{
  float: right;
  padding-top: 14px;
  padding-right: 15px;
}


.container-right {
  width:600px;;
  float: right;

}

.about-me {
  display: inline-block;
  width: 75%;
  padding-top: 50px;
}

.main-tag {
  color:#1460FB;
  float:left;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  letter-spacing:1.5px;
}

ul{
  margin: 20px 0 20px 60px;
  line-height: 220%;
}

.bullets {
  float: left;
}

.bullets li{
  font-weight: bolder;
  list-style: none;
  font-family: helvetica;
}

.bullets li::before{
  content: ">";
  color: #1460FB;
  padding-right: 15px;
}

.all-projects{
  width: 75%;
  max-width: 500px;
  float: left;
  display: block;
  margin: 0 0 0 20px;
}


.project-main{
  display: inline-block;
  float:left;
}

h2{
  margin: 0;
  width:75%;
  font-size: 18px;
}

.project-title {
  width:75%;
}

.project-title a::after {
  content: "\2192";
  width:75%;
  padding-left: 20px;
}

.project-title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: helvetica;
  font-size: 20px;
}

.project-title a:hover {
  text-decoration: none;
  color: grey;
  font-weight: bold;
  font-family: helvetica;
  font-size: 20px;
}

.project-description {
    width: 75%;
    max-width: 500px;
    float: left;
    display: block;
    font-family: helvetica;
    line-height: 150%;
    margin-bottom: 20px;
  }

  .project-description1 {
      width: 75%;
      max-width: 500px;
      float: left;
      display: inline-block;
      font-family: helvetica;
      line-height: 150%;
      margin: 0 0 20px 20px;
    }

  .list{
  display: inline-block;
  float:left;
  width:75%;
  margin: 0 0 20px 5px;

}

.exp-name{
  font-weight: bold;
  font-size: 18px;
  font-family: helvetica;
  display: inline-block;
}

.description{
  font-size: 18px;
  font-family: helvetica;
  display:block;
  margin-bottom: 5%;

}

.year{
  font-weight: bold;
  font-size: 18px;
  font-family: helvetica;
  float: right;

}

.view {
  width: 75%;
  max-width: 500px;
  float: left;
  display: block;
  font-family: helvetica;
  line-height: 150%;
  margin: 0 0 0 95px;
}
